main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > h1 {
    color: var(--color-red-dark);
}

main > h2 {
    margin-bottom: 50px;
    color: #000000;
}

.home_pages {
    margin: 15px 0px 5px 0px;
    display: flex;
    gap: 15px;
}

.home_pages > a {
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    border-radius: 5px;
    border: 2px solid #000000;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.home_pages > a:hover {
    transform: translateY(-3px);
}

.home_pages > a[data-lang="html"] {
    background-color: #fdba74;
}

.home_pages > a[data-lang="css"] {
    background-color: #c4b5fd;
}

.home_pages > a[data-lang="javascript"] {
    background-color: #fde047;
}

.home_credits {
    font-style: italic;
    font-size: 10px;
}