header {
    padding: 5px 15px;
    height: 50px;
    display: flex;
    align-items: center;
    color: #ffffff;
    background-color: var(--color-red-dark);
}

header > p {
    font-weight: 700;
}

header > nav {
    margin: 0px auto;
    display: flex;
}

header > nav > *:not(:last-child)::after {
    content: "|";
    margin: 10px;
}

.login {
    padding: 3px 20px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 3px;
}

footer {
    height: 130px;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 25px;
    color: #ffffff;
    background-color: var(--color-gray-light);
}

.footer_category {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_category > h2 {
    font-weight: 700;
    font-size: 20px;
}

.footer_category > ul {
    list-style-type: none;
}

.footer_category > ul > li {
    font-size: 16px;
}

.footer_logo {
    width: 300px;
}

.footer_logo > a {
    display: flex;
    flex-direction: column;
}

.footer_logo > a > img {
    max-width: 200px;
}

.footer_logo > a > p {
    font-size: 12px;
}