main {
    padding: 50px max(calc((100% - 600px) / 2), 50px);
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

main * {
    all: revert;
}

main h1 {
    text-align: center;
}

main a, main strong, main em {
    color: var(--color-red-dark);
}

main dt {
    font-weight: 700;
}